.game {
  width: 700px;
  height: 550px;
  margin: 20px auto;
  border: 3px solid darkolivegreen;
  position: relative;
  overflow: hidden;
}

#box {
  width: 150px;
  height: 100px;
  border: 2px solid black;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
}

.bottle {
  position: absolute;
  width: 30px;
  height: 30px;
  background: black;
}
@keyframes fall {
  from {
    top: -10px;
  }
  to {
    top: 100%;
  }
}

.fallingItem {
  animation: fall 2s linear;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -40px;
  background: black;
}
button {
  position: absolute;
  z-index: 9999;
}
