.fullgame {
  display: flex;
  margin-left: calc(50% - 350px);
  width: 1000px;
}
.game {
  width: 700px;
  height: 550px;
  margin: 20px auto;
  background: lightblue;
  position: relative;
  overflow: hidden;
}
.result {
  width: 300px;
}
.text-center {
  text-align: center;
  width: 100%;
}
#box {
  width: 150px;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("./img/box.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

@keyframes fall {
  to {
    top: 430px;
  }
}

.fallingItem {
  animation: fall 2s linear;
  position: absolute;
  width: 30px;
  height: 80px;
  top: -80px;
  background-image: url("https://media.danmurphys.com.au/dmo/product/503710-1.png?impolicy=PROD_MD");
  background-size: 300%;
  background-position: center;
}
button {
  position: absolute;
  z-index: 9999;
}
.girl {
  width: 100%;
}
