.game {
  width: 700px;
  height: 550px;
  margin: 20px auto;
  border: 3px solid darkolivegreen;
  position: relative;
  overflow: hidden;
}

#box {
  width: 150px;
  height: 100px;
  border: 2px solid black;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
}

#bottle {
  position: absolute;
  width: 30px;
  height: 30px;
  background: black;
  left: 120px;
  animation: topToBottom 2s infinite;
}

@keyframes topToBottom {
  from {
      top: 0;
  }

  to {
      top: 100%;
  }
}